:root {
  --tomato: #e74c3c;
  --main-bg: #ecf0f1;
  --white: #ffffff;
  --black: #000000;
  --star: #f1c40f;
  --text: #34495e;
  --text2: #34495e;
  --bg-list:#fee4cb;
  --bg-list2:#ffd3e2;
  --bg-list3:#dbf6fd;
  --bg-list4:#c8f7dc;
  --purple:#D980FA;
  --blue:#0652DD;
}
